<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your task</title>
</head>
<body>
    
    {{ task.id }} - {{ task.name }}

    <h1>Edit task</h1>
    <form action="{% url 'edit_task' task.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="new_name" value="{{ task.name }}" required autofocus>
        <button type="submit">Edit</button>
    </form>
</body>
</html>